<nav class="cover-navigation navigation--social">
  <ul class="navigation">


  <!-- Weibo -->
  <li class="navigation__item">
    <a href="http://weibo.com/tompoet" title="@亭山樵者 on Weibo" target="_blank">
      <i class='social fa fa-weibo'></i>
      <span class="label">Weibo</span>
    </a>
  </li>

  <!-- Twitter -->
  <li class="navigation__item">
    <a href="http://twitter.com/tompoet" title="@tompoet on Twitter" target="_blank">
      <i class='social fa fa-twitter'></i>
      <span class="label">Twitter</span>
    </a>
  </li>

  <!-- Instagram -->
  <li class="navigation__item">
    <a href="https://instagram.com/timeppt/" title="@timeppt on Instagram" target="_blank">
      <i class='social fa fa-instagram'></i>
      <span class="label">Twitter</span>
    </a>
  </li>
  
  <!-- RSS -->
  <li class="navigation__item">
    <a href="{{@blog.url}}/rss/" rel="author" title="RSS" target="_blank">
      <i class='social fa fa-rss'></i>
      <span class="label">RSS</span>
    </a>
  </li>

  </ul>
</nav>